.grid {
    --separator: 2px;
    background-color: rgb(59, 58, 58);
    box-sizing: content-box;
    width: max-content;

    display: grid;
    grid-template-columns:  9.5vw 9.5vw 9.5vw calc(9.5vw + var(--separator)) 9.5vw 9.5vw calc(9.5vw + var(--separator)) 9.5vw 9.5vw;
    grid-template-rows:     9.5vw 9.5vw 9.5vw calc(9.5vw + var(--separator)) 9.5vw 9.5vw calc(9.5vw + var(--separator)) 9.5vw 9.5vw;
    /* grid-template-columns:  9vw 9vw 9vw calc(9vw + var(--separator)) 9vw 9vw calc(9vw + var(--separator)) 9vw 9vw;
    grid-template-rows: 9vw 9vw 9vw calc(9vw + var(--separator)) 9vw 9vw calc(9vw + var(--separator)) 9vw 9vw; */
    grid-gap: 0.4vw;

    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin: 0px;
    margin-bottom: 9vw;
}
.grid > :nth-child(9n-2) {
    margin-left: var(--separator);
}
.grid > :nth-child(9n-5) {
    margin-left: var(--separator);
}

.grid > :nth-child(n+28):nth-child(-n+36) {
    margin-top: var(--separator);
}
.grid > :nth-child(n+55):nth-child(-n+63) {
    margin-top: var(--separator);
}
.solved {
    background-color: rgb(37, 250, 144);
}
@media (min-width:700px) {
    .grid {
        display: flex;
        /* box-sizing: content-box;
        width: max-content; */
        grid-gap: 0;
        background-color: black;
        width: 454px;
        height: 454px;
        /* height: 478px; */
        justify-content: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 2px;
    }
    .solved {
        background-color: rgb(37, 250, 144);
    }
}